recursive-include src
recursive-include bin
recursive-include conf
recursive-include assets
recursive-include modules
recursive-include subworkflows
include CITATION.cff
include LICENSE
include VERSION
include README.md
include main.nf
include nextflow.config
include nextflow_schema.json
exclude *.py[ocd]
