// containers accessed in process definitions with $params.container_NAME
params {
    container_bagel = 'nciccbr/crispin_bagel_2.0:0.1.0'
    container_base = 'nciccbr/ccbr_ubuntu_base_20.04:v5'
    container_cutadapt = 'nciccbr/ncigb_cutadapt_v1.18:latest'
    container_drugz = 'nciccbr/crispin_drugz:0.1.0'
    container_fastqc = 'nciccbr/ccrgb_qctools:v4.0'
    container_mageck = 'quay.io/biocontainers/mageck:0.5.9.5--py39h1f90b4d_3'
    container_vispr = 'quay.io/biocontainers/mageck-vispr:0.5.6--py_0'
}
