
process {

    publishDir = [
        path: { task.label ? "${params.outdir}/${task.label.findAll { !it.startsWith('process_') }.join('/')}/${task.process.tokenize(':')[-1].toLowerCase()}" : "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    errorStrategy = 'finish'

    /*
    withName: 'INPUT_CHECK:SAMPLESHEET_CHECK' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    */
}

// Docker/Singularity containers
// Do not specify cpus, memory, time here -- use process labels in base.config
process {

    // custom process containers

    withName: 'TRIM.*' {
        container = 'nciccbr/ncigb_cutadapt_v1.18:latest'
    }

    withName: 'MAGECK.*' {
        container = 'quay.io/biocontainers/mageck:0.5.9.5--py39h1f90b4d_3'
    }
    /*
    withName: 'VISPR.*' {
        container = 'quay.io/biocontainers/mageck-vispr:0.5.6--py_0'
    }
    withName: 'BAGEL.*' {
        container = 'nciccbr/cruise_bagel_2.0:0.1.0'
    }
    withName: 'DRUGZ.*' {
        container = 'nciccbr/cruise_drugz:0.1.0'
    }
    */
}
