params {
    config_profile_name = 'Test dataset for MAGECK_MLE'
    config_profile_description = 'Minimal test dataset for MAGECK_MLE only on biowulf'

    input = 'assets/samplesheet_test_mle.csv'
    library = 'assets/lib/yusa_library.csv'
    outdir = 'results/test_mle'
    exp_name = 'leukemia'

    count_table   = '/data/CCBR_Pipeliner/testdata/CRUISE/leukemia.new.csv'
    design_matrix = '/data/CCBR_Pipeliner/testdata/CRUISE/designmat.txt'

    mageck.run = true
    drugz.run = false
    bagel.run = false

}
dag {
    enabled = false
}
report {
    enabled = false
}
