params {
    config_profile_name = 'Test dataset'
    config_profile_description = 'Minimal test dataset for pipeline functionality'

    input = 'assets/samplesheet_test.csv'
    library = 'assets/lib/yusa_library.csv'
    outdir = 'results/test'
    exp_name = 'test'

    max_cpus = 32        // for GitHub Actions https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
    max_memory = '120.GB'
    max_time   = '12.h'

    publish_dir_mode = 'symlink'

    mageck.run = true

    drugz {
        run = true
        remove_genes = 'LacZ,luciferase,EGFR'
        half_window_size = 5
    }

    bagel.test_columns = '1'

}
dag {
    enabled = true
    overwrite = true
    file = 'assets/dag.png'
}
report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}
